.mainpic {
  position: relative;
  z-index: 1;
  background: url("../img/nessst_pic.jpg") no-repeat top left;
  width: 1000px;
  height: 563px;
  border-bottom: 4px solid #aaa;
  margin-top: 20px;
}

body {
  
  font: normal 1.1em/1.5 "lexia";
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.container {
  width: 90%;
  margin: auto;
  max-width: 1000px;
}
.list ul {
  font-family: "proxima-nova-extra-condensed",sans-serif;
  text-transform: uppercase;
  display: block;
  float: right;
  font-size: 2em;
  position: relative;
  top: -550px;
  left: 100px;
  z-index: 2;
  padding-left: 20px;
}

nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 1000px;
  background: black;
  height: auto;
  list-style: none;
  position: fixed;
  z-index: 2;
  top: 0;
}

nav li {
  display: inline;
  float: left;
  margin: 0px 0px;
  padding: 10px 0px 10px 0px;
  background: black;
}

nav a:link, nav a:visited {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: black;
  background-color: white;
}
nav + h2 {
  margin-top: 80px;
}
h2 {
  font-family: "proxima-nova-extra-condensed",sans-serif;
  font-size: 3em;
  margin: 0px 0px 0px 0px;
  border-bottom: 2px solid #777;
  color: #777;
}
h4 {
  font-family: "lexia",sans-serif;
  font-size: 1.3em;
  margin: 10px 0px 5px 0px;
}
h4 + ul {
  margin-top: 0px;
  padding-left: 20px;
}
body#home a#homenav,
body#resume a#resumenav,
body#portfolio a#portfolionav,
body#contact a#contactnav {
color: #777;
background: white;
font-weight: bold;
}
main {
  margin: 70px 0px 0px 10px;

}


