object {
  position: relative;
  top: 60px;
  left: 555px;
  z-index: 2;
  max-width: 400px;
}
p {
  margin-top: -15px;
  border-top: 2px solid #6D6E70;
  padding: 0 160px 0 60px;

}
.mainpic {
  position: absolute;
  z-index: 1;
  background: url("../img/nessst_pic.jpg") no-repeat;
  width: 954px;
  height: 563px;
  border-bottom: 2px solid #aaa;
  top: 40px;
}
ul + h2 {
  margin-top: 350px;
}

body {
  font: normal 1em/1.5 "lexia";
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}
.container {
  width: 100%;
  margin: 0 auto;
  max-width: 1000px;
}
object + ul {
  font-family: "proxima-nova-extra-condensed", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 42px;
  color: #6D6E70;
  position: relative;
  top: 140px;
  left: 555px;
  z-index: 2;
  padding-left: 10px;
  line-height: 40px;
  width: 400px;
}

nav ul {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 954px;
  background: black;
  height: auto;
  list-style: none;
  position: fixed;
  z-index: 2;
  top: 0;
}

nav li {
  display: inline;
  float: left;
  padding: 10px 0;
  background: black;
}

nav a:link, nav a:visited {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}
nav a:hover {
  color: black;
  background-color: white;
  border-top: 4px solid white;
  border-bottom: 3px solid white;
}

h2 {
  font-family: "proxima-nova-extra-condensed",sans-serif;
  font-size: 3em;
  margin: 0;
  color: #777;
}

p.last {
  margin-bottom: 40px;
}

#footer h2 {
  z-index: 2;
  bottom: 20px;
  color: black;
  position: relative;
  right: 2px;
}

h2 + ul {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 954px;
  background: black;
  height: auto;
  list-style: none;
  position: fixed;
  z-index: 2;
  bottom: 0;
}

h2 + ul li {
  display: inline;
  float: left;
  padding: 10px 0;
  background: black;
}

h2 + ul a:link, h2 + ul a:visited {
  padding: 10px 20px;
  color: white;
  text-decoration: none;
}

h2 + ul a:hover {
  color: black;
  background-color: white;
  border-top: 3px solid white;
  border-bottom: 4px solid white;
}

body#home a#homenav,
body#resume a#resumenav,
body#portfolio a#portfolionav,
body#contact a#contactnav {
    color: #777;
    background: white;
    font-weight: bold;
    border-top: 4px solid white;
    border-bottom: 3px solid white;
}

@media screen and (max-width: 875px) {
  .mainpic {
    display: none;
  }
    object {
    position: relative;
    top: 60px;
    left: 10px;
    z-index: 2;
    max-width: 400px;
  }
    object + ul {
    font-family: "proxima-nova-extra-condensed", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 42px;
    color: #6D6E70;
    position: relative;
    top: 140px;
    left: 10px;
    z-index: 2;
    padding-left: 10px;
    line-height: 40px;
    width: 400px;
  }
}


